<a href="https://colab.research.google.com/github/JaredBauyon/CPE-0332.1-1---ELECTIVE-3-LABORATORY-/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [ ]:
y = 2
x = 5
if x > y:
  print ("Five is greater than Two!")

Five is greater than Two!

Python Comment

In [ ]:
print("Hello World!")
#This is how to comment on python

Hello World!

Python Variable

In [ ]:
z = 1
x = 2
y = 3
z, x, y = 1, 2, 3
print (z, x, y)
print (z + x, y)
print (z, x - y)

1 2 3
3 3
1 -1

Casting

In [ ]:
b = "Randalle" #This is a string
b = float(4)
print (b)

4.0

Type () Function

In [ ]:
print(type(b))

<class 'float'>

Double Quote and Single Quote

In [ ]:
W = "Ana"
print (W)
Q = 'Ana'
print (Q)

Ana
Ana

Case Sensitive

In [ ]:
A = "Sally"
a = 4
print (A, a)
print (A + str(4))

Sally 4
Sally4

Multiple Variables

In [ ]:
h, i , j = 'one', 'two', 'three'
print (h)
print (i)
print (j)

one
two
three

Multiple Variables with Single Value

In [ ]:
k = l = m = 'four'
print (k, l, m)
print (k)
print (l)
print (m)

four four four
four
four
four

Output Variable and Concatenation +

In [ ]:
n = 'enjoying'
p = 'Python Programming is'
print ("Python Programming is " + n)
print (p, n)

Python Programming is enjoying
Python Programming is enjoying

Arithmetic Operations

In [36]:
print (x + y) #Addition
print (x - y) #Subtraction
print (x * y) #Multiplication
print (x / y) #Division
print (x % y) #Modulus
print (x ** y) #Exponentiation
print (x // y) #Floor Division
#

5
-1
6
0.6666666666666666
2
8
0

Assignment Operator

In [46]:
x+=3 #Same as x = x + 3
print(x)

11

Comparison Operator

In [44]:
print (x==y) #x = 3, y = 2
print (x!=y)
print (x>y)
print (x<y)

False
True
True
False

Logical Operators

In [49]:
print (x==y and x!=y) #False and True
print (x==y or x!=y) #False or True
print (not( x==y or x!=y)) #Negate (False or True)

False
True
False

Identity Operators

In [52]:
print (x is y) #x = 3 while y = 2
print (x is not y)

False
True

Bitwise Operators

In [54]:
#10 +1 = 11
print (10 | 1)

print (x>>1) #x=3

11
5

Application 1

In [64]:
#Create a Python program that displays that displays your Fullname, Course and Section as your identity
Name = "Jared Randalle B. Bauyon"
Age = 21
Course = 'BS CpE'
Section = 'CpE 0322.1-1'

print ("My name is", Name, "and I am", Age, "Years old")
print ("I am in", Course, "Under the section of", Section )

My name is Jared Randalle B. Bauyon and I am 21 Years old
I am in BS CpE Under the section of CpE 0322.1-1